<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>OpenLava Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </head>
  <body>
	  <nav class="navbar navbar-default" role="navigation">
	  <div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="{% url "olw_system_view" %}">Openlava</a>
	  </div>
       <div class="collapse navbar-collapse">
		   <ul class="nav navbar-nav">
			   <li><a href="{% url "olw_queue_list" %}">Queues</a></li>
			   <li><a href="{% url "olw_job_list" %}">Jobs</a></li>
			   <li><a href="{% url "olw_host_list" %}">Hosts</a></li>
			   <li><a href="{% url "olw_user_list" %}">Users</a></li>
		   </ul>
		   <ul class="nav navbar-nav navbar-right">
			   {% if user.is_authenticated %}
			   <li><p class="navbar-text">{{ user.name }}</p></li>
				<li><a href='{% url "olw_logout" %}'>Logout</a></li>
				{% else %}
			   <li><p class="navbar-text">Not Logged In</p></li>
				<li><a href='{% url "olw_login" %}'>Login</a></li>
				{% endif %}
		   </ul>
	   </div>
	   </nav>
	<div class="container">
	{% block content %}{% endblock %}
	</div>
  </body>
</html>
